html {
    box-sizing: border-box;
    font-size: 100%;

    line-height: 1.5;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;

    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.calculator {
    position: relative;
    height: 30rem;
    width: 25rem;
    padding: 2rem;

    border: 2px solid red;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display {
    flex: 2;
    border: 2px solid blue;
}

.user-input {
    flex: 5;
    border: 2px solid gray;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
}

.user-input button {
    cursor: pointer;
    border: 2px solid brown;

    font-size: 2rem;
}

.user-input button:hover {
    background-color: rgb(200, 200, 200);
}

.equal {
    grid-row: span 2;
}